<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.module.utp.impl.UTPModule" binaryversion="4.1.00" version="${project.version}" schema-level="2" uid="607b0d93-e272-11df-b1e4-0027103ea5f4" author="" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="51471f07-cee5-4db6-85bf-a2c4902bd810" id="UTPProfile">
            <Stereotype name="CodingRule_Attribute" metaclass="Standard.Attribute" owner-stereotype="" is-hidden="true" label="%stereotype.CodingRule_Attribute.label" uid="164b939b-e361-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="coding" uid="8b8cb701-e364-11df-a678-0027103ea5f4" label="%tagtype.coding.label" parameter-card="1" is-hidden="true" is-signed="true"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="CodingRule_Instance" metaclass="Standard.Instance" owner-stereotype="" is-hidden="true" label="%stereotype.CodingRule_Instance.label" uid="d2034a31-e363-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="coding" uid="932de1f0-e364-11df-a678-0027103ea5f4" label="%tagtype.coding.label" parameter-card="1" is-hidden="true" is-signed="true"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="CodingRule_NameSpace" metaclass="Standard.NameSpace" owner-stereotype="" is-hidden="true" label="%stereotype.CodingRule_NameSpace.label" uid="6d93ea4e-e362-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="coding" uid="8fc9e038-e364-11df-a678-0027103ea5f4" label="%tagtype.coding.label" parameter-card="1" is-hidden="true" is-signed="true"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="DataPartition" metaclass="Standard.Classifier" owner-stereotype="" is-hidden="true" label="%stereotype.DataPartition.label" uid="2f1d9cda-e364-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DataPool_Attribute" metaclass="Standard.Attribute" owner-stereotype="" is-hidden="true" label="%stereotype.DataPool_Attribute.label" uid="1878d458-e364-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DataPool_Classifier" metaclass="Standard.Classifier" owner-stereotype="" is-hidden="true" label="%stereotype.DataPool_Classifier.label" uid="0fba242a-e364-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DataSelector" metaclass="Standard.Operation" owner-stereotype="" is-hidden="true" label="%stereotype.DataSelector.label" uid="368dcb78-e364-11df-a678-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Default" metaclass="Standard.Behavior" owner-stereotype="" is-hidden="true" label="%stereotype.Default.label" uid="43efe2e6-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DefaultApplication" metaclass="Infrastructure.Dependency" owner-stereotype="" is-hidden="true" label="%stereotype.DefaultApplication.label" uid="50726a80-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="FinishAction" metaclass="Standard.ActivityAction" owner-stereotype="" is-hidden="true" label="%stereotype.FinishAction.label" uid="639bd821-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="GetTimezoneAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.GetTimezoneAction.label" uid="6a3d2121-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="GetTimezoneAction_OpaqueAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.GetTimezoneAction_OpaqueAction.label" uid="534b4816-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="LogAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.LogAction.label" uid="708b2e14-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ReadTimerAction" metaclass="Standard.CallOperationAction" owner-stereotype="" is-hidden="true" label="%stereotype.ReadTimerAction.label" uid="2daef040-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SUT_Attribute" metaclass="Standard.Attribute" owner-stereotype="" is-hidden="true" label="%stereotype.SUT_Attribute.label" uid="5ce79f75-e279-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/sut.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SUT_BindableInstance" metaclass="Standard.BindableInstance" owner-stereotype="" is-hidden="true" label="%stereotype.SUT_BindableInstance.label" uid="483cdbe9-7e6f-41ae-8d2a-6ecd2e79ce1b" is-abstract="false">
                <Icon path="res/icon/gui/sut.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SetTimezoneAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.SetTimezoneAction.label" uid="715a99c1-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SetTimezoneAction_OpaqueAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.SetTimezoneAction_OpaqueAction.label" uid="5e3a7b2d-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="StartTimerAction" metaclass="Standard.StateInvariant" owner-stereotype="" is-hidden="true" label="%stereotype.StartTimerAction.label" uid="d74be1ee-e69b-11df-87fb-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/starttimer24.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="StartTimerAction_CallOperationAction" metaclass="Standard.CallOperationAction" owner-stereotype="" is-hidden="true" label="%stereotype.StartTimerAction_CallOperationAction.label" uid="1a87576b-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="StopTimerAction" metaclass="Standard.StateInvariant" owner-stereotype="" is-hidden="true" label="%stereotype.StopTimerAction.label" uid="b3c1b78a-e69d-11df-87fb-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/stoptimer24.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="StopTimerAction_CallOperationAction" metaclass="Standard.CallOperationAction" owner-stereotype="" is-hidden="true" label="%stereotype.StopTimerAction_CallOperationAction.label" uid="242e98cd-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestCase_Behavior" metaclass="Standard.Behavior" owner-stereotype="" is-hidden="true" label="%stereotype.TestCase_Behavior.label" uid="26ede16d-e279-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/testcase.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestCase_Operation" metaclass="Standard.Operation" owner-stereotype="" is-hidden="true" label="%stereotype.TestCase_Operation.label" uid="ed653299-e278-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/testcase.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestComponent" metaclass="Standard.Classifier" owner-stereotype="" is-hidden="true" label="%stereotype.TestComponent.label" uid="13de32b1-e279-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/testcomponent.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestContext" metaclass="Standard.Classifier" owner-stereotype="" is-hidden="true" label="%stereotype.TestContext.label" uid="dd5475f6-e278-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/testcontext.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestLog" metaclass="Standard.Behavior" owner-stereotype="" is-hidden="true" label="%stereotype.TestLog.label" uid="71ed0cf4-e2ab-11df-b4b4-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/u2tp.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestLogApplication" metaclass="Infrastructure.Dependency" owner-stereotype="" is-hidden="true" label="%stereotype.TestLogApplication.label" uid="83ba8aa0-e2ab-11df-b4b4-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestObjective" metaclass="Infrastructure.Dependency" owner-stereotype="" is-hidden="true" label="%stereotype.TestObjective.label" uid="452c5975-e279-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TestSet" metaclass="Standard.Package" owner-stereotype="" is-hidden="true" label="%stereotype.TestSet.label" uid="6cff6aed-e279-11df-b95d-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/testpackage.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TimeOut" metaclass="Standard.Event" owner-stereotype="" is-hidden="true" label="%stereotype.TimeOut.label" uid="f8f7c8bf-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TimeOutAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.TimeOutAction.label" uid="0f55262d-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TimeOutMessage" metaclass="Standard.Message" owner-stereotype="" is-hidden="true" label="%stereotype.TimeOutMessage.label" uid="0180e89e-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="TimerRunningAction" metaclass="Standard.OpaqueAction" owner-stereotype="" is-hidden="true" label="%stereotype.TimerRunningAction.label" uid="41d5d72e-e33a-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="U2TPTypes" metaclass="Standard.Package" owner-stereotype="" is-hidden="true" label="%stereotype.U2TPTypes.label" uid="7141dc50-e69e-11df-87fb-0027103ea5f4" is-abstract="false">
                <Icon path="res/icon/gui/ramc.png"/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ValidationAction" metaclass="Standard.StateInvariant" owner-stereotype="" is-hidden="true" label="%stereotype.ValidationAction.label" uid="e48dbbe4-e69d-11df-87fb-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ValidationAction_CallOperationAction" metaclass="Standard.CallOperationAction" owner-stereotype="" is-hidden="true" label="%stereotype.ValidationAction_CallOperationAction.label" uid="5824d3f0-e339-11df-9694-0027103ea5f4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="Test_Case" label="%command.Test_Case.label" tooltip="%command.Test_Case.tooltip" image="res/icon/gui/testcase.png" modify-model="true">
                <Scope metaclass="Standard.Classifier" stereotype="UTP#TestContext"/>
                <Handler class="org.modelio.module.utp.commands.AddTestCase"/>
            </Command>
            <Command id="SUT" label="%command.SUT.label" tooltip="%command.SUT.tooltip" image="res/icon/gui/sut.png" modify-model="true">
                <Scope metaclass="Standard.BindableInstance" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.ApplySUT"/>
            </Command>
            <Command id="Test_Component" label="%command.Test_Component.label" tooltip="%command.Test_Component.tooltip" image="res/icon/gui/testcomponent.png" modify-model="true">
                <Scope metaclass="Standard.Component" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.ApplyTestComponent"/>
            </Command>
            <Command id="Test_Context" label="%command.Test_Context.label" tooltip="%command.Test_Context.tooltip" image="res/icon/gui/testcontext.png" modify-model="true">
                <Scope metaclass="Standard.Class" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.ApplyTestContext"/>
            </Command>
            <Command id="Create_Test_Component" label="%command.Create_Test_Component.label" tooltip="%command.Create_Test_Component.tooltip" image="res/icon/gui/testcomponent.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.CreateTestComponent"/>
            </Command>
            <Command id="Create_Test_Context" label="%command.Create_Test_Context.label" tooltip="%command.Create_Test_Context.tooltip" image="res/icon/gui/testcontext.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.CreateTestContext"/>
            </Command>
            <Command id="Create_Test_Package" label="%command.Create_Test_Package.label" tooltip="%command.Create_Test_Package.tooltip" image="res/icon/gui/testpackage.png" modify-model="true">
                <Scope metaclass="Standard.Package" stereotype=""/>
                <Handler class="org.modelio.module.utp.commands.CreateTestPackage"/>
            </Command>
        </Commands>
        <ContextualMenu>
            <CommandRef refid="SUT" group="" group-image=""/>
            <CommandRef refid="Test_Case" group="" group-image=""/>
            <CommandRef refid="Create_Test_Component" group="" group-image=""/>
            <CommandRef refid="Test_Component" group="" group-image=""/>
            <CommandRef refid="Test_Context" group="" group-image=""/>
            <CommandRef refid="Create_Test_Context" group="" group-image=""/>
            <CommandRef refid="Create_Test_Package" group="" group-image=""/>
        </ContextualMenu>
    </Gui>
    <Dependencies>
        <Required name="ModelerModule" version="9.2.00"/>
    </Dependencies>
</Module>
